@font-face {
    font-family: "Verdana";
    src: url("./fonts/Verdana") format("truetype");
  }

body {
    background-color: none;
    font-size: 20px;
    text-align: center;
    font-family: "Verdana";
    color: rgb(19, 16, 222);
     
} 

body {
    background-image: url(./img/fondohello.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
}

button {
    padding: 10px 20px;
    font-size: 15px;
    background-color: rgb(101, 195, 227); 
    color:blue;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: pink;
    cursor: pointer;
}
button:active {
    transform: scale(0.9);
    transition: transform 0.2s;
}








