import 

@font-face {
    font-family: "Cabin sketch";
    src: url("./fonts/CabinSketch-Regular.ttf") format("truetype");
  }

body {
    background-color: rgb(183, 242, 242);
    font-size: 20px;
    text-align: center;
    font-family: "Verdana";
    color: rgb(19, 16, 222);
     
} 

body {
    background-image: url(./img/fondohello.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
}

button {
    font-family: "Verdana";

}

